#chart {
    margin-top: 0px; /* Ajusta según lo necesites */
    display: flex;
    justify-content: center; /* Opcional, centra la gráfica */
    margin-left: 0px; /* Ajusta la distancia hacia la izquierda */

  }