/* Clase personalizada para columnas más estrechas */
.col-lg-1_5 {
  flex: 0 0 auto;
  width: 12.5%;
}

/*
.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    
    .form-check-input:checked {
      background-color: #0d6efd;
      border-color: #0d6efd;
    }
    
    .form-check-label {
      user-select: none;
    }
  }


  .sort-asc {
    background-color: rgba(13, 110, 253, 0.1);
  }
  
  .sort-desc {
    background-color: rgba(13, 110, 253, 0.1);
  }
  
  th:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }*/