<!-- INICIO error -->
<div class="error">
	<div class="error-content">
		<div class="error-message">Acceso Denegado</div>
		<div class="error-desc mb-4">
			No tienes permiso para acceder a esta página. <br />
			Puedes regresar a la página de inicio haciendo clic en el siguiente botón.
		</div>
		<div>
			<a routerLink="/" class="btn btn-success px-3" autofocus>Ir a Inicio</a>
		</div>
	</div>
	
	<!-- Espacio para que error-content no ocupe todo el alto -->
	<div class="error-footer"></div>
</div>
<!-- FIN error -->
