<!-- Inicio de la ruta de navegación (breadcrumb) -->
<ol class="breadcrumb float-xl-end">
	<li class="breadcrumb-item"><a href="javascript:;">Inicio</a></li>
	<li class="breadcrumb-item"><a href="javascript:;">Dashboard</a></li>
	<li class="breadcrumb-item active"><a href="javascript:;">Persona Juridica</a></li>
</ol>
<!-- Fin de la ruta de navegación -->
  
  <!-- Inicio del encabezado de la página -->
  <h1 class="page-header">Dashboard <small>Persona Juridica</small></h1>
  <!-- Fin del encabezado de la página -->
  