<div class="search-options-container">
    <div class="widget-input-icon dropdown" style="position: relative;">
     
        <a href="javascript:;" class="dropdown-toggle p-1" (click)="toggleOptions()">
            <i class="fa fa-filter fa-xs me-1"></i> <!-- fa-xs hace el icono extra pequeño -->
            <span class="d-none d-md-inline"></span>
          </a>

      <div class="dropdown-menu p-2" [class.show]="showOptions" style="min-width: 220px;">
        <h6 class="dropdown-header d-flex align-items-center">
          <i class="fa fa-sliders me-2"></i>
          Opciones de búsqueda
        </h6>
        <div *ngFor="let option of searchOptions" class="form-check option-item">
          <input class="form-check-input" type="checkbox" 
                 [id]="'option-' + option.id" 
                 [checked]="option.checked"
                 (change)="toggleOption(option.id)">
          <label class="form-check-label small" [for]="'option-' + option.id">
            <i class="fa {{option.icon}} me-2"></i>
            {{ option.label }}
          </label>
        </div>
      </div>
    </div>
  </div>