    <mat-accordion class="example-headers-align" multi>
            <!--  ------------------------------------------------  -->      
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Pedidos</mat-panel-title>
                <mat-panel-description>
                  Solicitudes.
                  <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <!--
              <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput />
              </mat-form-field>
          
              <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput type="number" min="1" />
              </mat-form-field>
              -->
            </mat-expansion-panel>
      <!--  ------------------------------------------------  -->      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Facturas</mat-panel-title>
          <mat-panel-description>
            Compras.
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!--
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput />
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput type="number" min="1" />
        </mat-form-field>
        -->
      </mat-expansion-panel>
      <!--  ------------------------------------------------  
      <mat-expansion-panel disabled>
        <mat-expansion-panel-header>
          <mat-panel-title> Destination </mat-panel-title>
          <mat-panel-description>
            Type the country name
            <mat-icon>map</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <mat-label>Country</mat-label>
          <input matInput />
        </mat-form-field>
      </mat-expansion-panel>-->      
      <!--  ------------------------------------------------  -->      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Cuentas por cobrar </mat-panel-title>
          <mat-panel-description>
            Financiamiento.
            <mat-icon>date_range</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!--
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly />
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
        -->
      </mat-expansion-panel>
      <!--  ------------------------------------------------  -->   
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Conciliación de Pagos </mat-panel-title>
          <mat-panel-description>
            Acuerdos.
            <mat-icon>date_range</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <!--
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly />
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
         -->
      </mat-expansion-panel>   
            <!--  ------------------------------------------------  -->      
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Atención al Cliente y Soporte</mat-panel-title>
                <mat-panel-description>
                  Peticiones
                  <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <!--
              <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput />
              </mat-form-field>
          
              <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput type="number" min="1" />
              </mat-form-field>
              -->
            </mat-expansion-panel>

    </mat-accordion>

    
